<div class="ui grid">
    <div class="three wide column">
        <div class="ui fluid mini vertical accordion menu">
            <div class="item">
                <a class="title">
                    <i class="dropdown icon"></i>
                    <div class="ui checked checkbox">
                        <input type="checkbox" checked="">
                        <label><b>Group A</b></label>
                    </div>
                </a>
                <div class="content">
                    <div class="ui form">
                        <div class="grouped fields">
                            <div class="field">
                                <div class="ui checked checkbox">
                                    <input type="checkbox" checked="" value="rs1">
                                    <label>RS1</label>
                                </div>
                            </div>
                            <div class="field">
                                <div class="ui checked checkbox">
                                    <input type="checkbox" checked="" value="rs2">
                                    <label>RS2</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <a class="title">
                    <i class="dropdown icon"></i>
                    <div class="ui checked checkbox">
                        <input type="checkbox" checked="">
                        <label><b>Group B</b></label>
                    </div>
                </a>
                <div class="content">
                    <div class="ui form">
                        <div class="grouped fields">
                            <div class="field">
                                <div class="ui checked checkbox">
                                    <input type="checkbox" checked="" value="rs3">
                                    <label>RS3</label>
                                </div>
                            </div>
                            <div class="field">
                                <div class="ui checked checkbox">
                                    <input type="checkbox" checked="" value="rs4">
                                    <label>RS4</label>
                                </div>
                            </div>
                            <div class="field">
                                <div class="ui checked checkbox">
                                    <input type="checkbox" checked="" value="rs5">
                                    <label>RS5</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <a class="title">
                    <i class="dropdown icon"></i>
                    <div class="ui checked checkbox">
                        <input type="checkbox" checked="">
                        <label><b>Group C</b></label>
                    </div>
                </a>
                <div class="content">
                    <div class="ui form">
                        <div class="grouped fields">
                            <div class="field">
                                <div class="ui checked checkbox">
                                    <input type="checkbox" checked="" value="rs6">
                                    <label>RS6</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="threeteen wide column">
        <div id="availability-monthly"></div>
        <div id="availability-daily"></div>
    </div>
</div>