<div class="ui form" id="search">
    <div class="equal width fields">
        <div class="field">
            <label>Polygon</label>
            <input type="text" ng-value="ctrl.polygon.properties.NAME" readonly/>
        </div>
        <div class="field" id="search-types">
            <label>Types</label>
            <select class="ui fluid dropdown" ng-model="ctrl.types" multiple>
                <option value="">All</option>
                <option value="R">R</option>
                <option value="T">T</option>
            </select>
        </div>
        <div class="field">
            <label>Start date</label>
            <div class="ui calendar" id="startDate">
                <div class="ui input left icon">
                    <i class="calendar icon"></i>
                    <input type="text" placeholder="" ng-value="ctrl.startDate">
                </div>
            </div>
        </div>
        <div class="field">
            <label>End date</label>
            <div class="ui calendar" id="endDate">
                <div class="ui input left icon">
                    <i class="calendar icon"></i>
                    <input type="text" placeholder="" ng-value="ctrl.endDate">
                </div>
            </div>
        </div>
    </div>
    <!--<button class="ui primary button" type="submit" ng-click="ctrl.search()">Search</button>-->
</div>
<div class="ui divider"></div>
<div class="ui message" ng-show="results">displaying {{results.length}} results out of {{total}}</div>
<div class="ui grid">
    <div class="six wide column">
        <div id="search-map"></div>
    </div>
    <div class="ten wide column">
        <div class="ui inverted dimmer" ng-class="{active:loading}">
            <div class="ui loader"></div>
        </div>
        <table class="ui selectable very basic celled table">
            <thead>
            <tr class="center aligned">
                <th>Type</th>
                <th>Source(s)</th>
                <th>Start Time</th>
                <th>End Time</th>
            </tr>
            </thead>
            <tbody>
            <tr class="center aligned" ng-repeat="result in results" ng-class="{active:ctrl.result==result}"
                ng-click="ctrl.result=result" ng-mouseenter="$parent.previewResult=result"
                ng-mouseleave="$parent.previewResult=null">
                <td>{{result.type}}</td>
                <td>{{result.src.join(', ')}}</td>
                <td>{{result.startTime.format('DD/MM/Y HH:mm')}}</td>
                <td>{{result.endTime.format('DD/MM/Y HH:mm')}}</td>
            </tr>
            </tbody>
        </table>
        <div class="ui negative message" ng-show="error">ERROR</div>
    </div>
</div>